/* .header{
    /* background-image: url('../IMAGES/NG-en-20231002-popsignuptwoweeks-perspective_alpha_website_medium.jpg'); */
    /* display: flex; */
    /* align-items: center; */
    /* al
    font-size: 20px;
    gap: 1px;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    
     */
     /* background-image: url('/src/images/13267914405_b2310f6ecb_b.jpg'); */
     /* background-color: black; */

     /* height: 100vh; */


/* 
.image-container {
    /* position: relative; */
    /* Set the background image URL */
    /* background-image: url('/images/13267914405_b2310f6ecb_b.jpg'); */
    /* Set the background size, position, and other properties as needed */
    /* background-size: cover; */
    /* background-position: center; */
    /* Set the desired opacity (0.5 for 50% opacity) */
    /* opacity: 0.5; */
    /* height: 100vh; */
    /* width: 500vh;/ */

/* } */

/* .margin{
    margin-top: 5%;
}
.btnn{
    padding: .5rem 1rem;
    background: lavender;
    color: white;
    border-radius: 5px;
    font-size: 1.08em;
    /* margin: 10px auto; */
/* }
.btnn:hover{
    color: black !important;
    background: skyblue;
}
.btnn-big{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
}
.input{
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid skyblue;
    color: #444;
    outline: none;
    line-height: 1.5rem; */
    /* font-size: 1.2em;


} */

/* style="background-color: #E6E6FA;" */